asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1652752042988/work
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==38.0.3
defusedxml==0.7.1
dj-rest-auth==2.2.5
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1667305582810/work
django-allauth==0.51.0
django-cors-headers @ file:///home/conda/feedstock_root/build_artifacts/django-cors-headers_1654546143857/work
djangorestframework @ file:///home/conda/feedstock_root/build_artifacts/djangorestframework_1663854154474/work
djangorestframework-simplejwt==5.2.2
gunicorn @ file:///Users/runner/miniforge3/conda-bld/gunicorn_1666818901733/work
idna==3.4
mysqlclient @ file:///Users/runner/miniforge3/conda-bld/mysqlclient_1666954766733/work
oauthlib==3.2.2
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1666920636035/work
pycparser==2.21
PyJWT==2.6.0
python3-openid==3.2.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1667391478166/work
requests==2.28.1
requests-oauthlib==1.3.1
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1663990453245/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
urllib3==1.26.12
